@using SnacksShop.App_Start;
@{
    ViewBag.Title = "Backstage management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="indexwelcomeone" style="padding-top: 50px; text-align: center">
    <h1>@(MyAuthentication.GetUserName())，Welcome to the backstage management system ！</h1>
</div>


